ul {
  list-style: none;
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 0;
}

li {
  margin: 1rem 0;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-enter-active {
  opacity: 1;
}

.todo-exit-active {
  opacity: 0;
}

.todo-enter-active,
.todo-exit-active {
  transition: opacity 500ms;
}
